/* Basic Reset */
.navbar-brand{
    width: 150px;
    height: 100px;
   }
   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}


/* Main Content Styling */
main {
    padding: 2rem;
}

.about-intro {
    text-align: center;
    margin-bottom: 2rem;
}

.our-story, .our-team {
    margin-bottom: 2rem;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.team-member {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    transition: transform 0.3s ease;
}

.team-member:hover img {
    transform: scale(1.1);
}

/* Footer Styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.social-media {
    margin-top: 1rem;
}

.social-media a {
    margin: 0 0.5rem;
    transition: transform 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2);
}

.social-media img {
    height: 30px;
}
footer{
    background-color: #111;
 }
 .footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
 }
 .socialIcons{
   display: flex;
   justify-content: center;
 }
 
 
 .socialIcons a{
   text-decoration: none;
   padding: 10px;
   background-color: white;
   margin: 10px;
   border-radius: 50%;
 }
 .socialIcons a i{
   font-size: 2em;
   color: black;
   opacity: 0.9;
 }
 /* Hover Effects on Social Media Icons */
 .socialIcons a:hover{
   background-color: #111;
   transform: 0.5s;
 }
 
 .socialIcons a:hover i{
   color: white;
   transition: 0.5s;
 }
 .footerNav{
   margin: 30px 0 ;
 }
 
 .footerNav ul{
   display: flex;
   justify-content: center;
   list-style-type: none;
 }
 
 .footerNav ul li a{
   color: white;
   margin: 20px;
   text-decoration: none;
   font-size: 1.3em;
   opacity: 0.7;
   transition: 0.5s;
 }
 
 .footerNav ul li a:hover{
   opacity: 1;
 }
 
 .footerBottom{
   background-color: #000;
   padding: 20px;
   text-align: center;
 }
 
 .footerBottom p{
   color: white;
 }
 .designer{
   opacity: 0.7;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 400;
   margin: 0px 5px;
 }

/* Responsive Design */
@media (max-width: 768px) {
    .team-members {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .team-members {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1201px) {
    .team-members {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 700px){
    .footerNav ul{
      flex-direction: column;
    
    }
    .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10PX;
    }
  }
